@font-face {
  font-family: "ydicon"; /* Project id 2090573 */
  src: url('//at.alicdn.com/t/font_2090573_66mh9ofp8nu.eot?t=1632887838718'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2090573_66mh9ofp8nu.eot?t=1632887838718#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/font_2090573_66mh9ofp8nu.woff?t=1632887838718') format('woff');
}

.ydicon {
  font-family: "ydicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ydicon-gotop1:before {
  content: "\e684";
}

.ydicon-gotop2:before {
  content: "\e685";
}

.ydicon-gotop3:before {
  content: "\e626";
}

.ydicon-gotop4:before {
  content: "\e619";
}

.ydicon-gotop5:before {
  content: "\e65a";
}

.ydicon-gotop6:before {
  content: "\e686";
}

.ydicon-gotop7:before {
  content: "\e660";
}

.ydicon-gotop8:before {
  content: "\e687";
}

.ydicon-gotop9:before {
  content: "\e61a";
}

.ydicon-gotop10:before {
  content: "\e653";
}

.ydicon-gotop11:before {
  content: "\e802";
}

.ydicon-gotop12:before {
  content: "\e61b";
}

.ydicon-gotop13:before {
  content: "\e6b4";
}

.ydicon-gotop14:before {
  content: "\e641";
}

.ydicon-gotop15:before {
  content: "\e729";
}

.ydicon-gotop16:before {
  content: "\e61c";
}

.ydicon-gotop17:before {
  content: "\e688";
}

.ydicon-gotop18:before {
  content: "\e61d";
}

.ydicon-gotop19:before {
  content: "\e628";
}

.ydicon-gotop20:before {
  content: "\e703";
}

.ydicon-gotop21:before {
  content: "\e630";
}

.ydicon-gotop22:before {
  content: "\e689";
}

.ydicon-gotop23:before {
  content: "\e61f";
}

.ydicon-crop:before {
  content: "\e618";
}

.ydicon-gouxuan:before {
  content: "\e617";
}

.ydicon-water:before {
  content: "\e6c1";
}

.ydicon-slim:before {
  content: "\e7c0";
}

.ydicon-stat:before {
  content: "\e818";
}

.ydicon-yidongwenjian:before {
  content: "\e616";
}

.ydicon-a-move-21x:before {
  content: "\e6ee";
}

.ydicon-deselect-file:before {
  content: "\e706";
}

.ydicon-select-file:before {
  content: "\e742";
}

.ydicon-delete-full:before {
  content: "\e640";
}

.ydicon-set:before {
  content: "\e607";
}

.ydicon-upload:before {
  content: "\e77e";
}

.ydicon-download:before {
  content: "\e77f";
}

.ydicon-quanping:before {
  content: "\e657";
}

.ydicon-suoxiao:before {
  content: "\e658";
}

.ydicon-copy:before {
  content: "\e601";
}

.ydicon-move:before {
  content: "\e610";
}

.ydicon-look:before {
  content: "\e62f";
}

.ydicon-rename:before {
  content: "\e602";
}

.ydicon-folder:before {
  content: "\ea29";
}

.ydicon-folder-open:before {
  content: "\ea2a";
}

.ydicon-edit:before {
  content: "\e605";
}

.ydicon-newfolder:before {
  content: "\e65d";
}

.ydicon-selected:before {
  content: "\e614";
}

.ydicon-zhuangxiu:before {
  content: "\e60f";
}

.ydicon-back:before {
  content: "\e655";
}

.ydicon-menu18:before {
  content: "\e63f";
}

.ydicon-jianchagengxin:before {
  content: "\e62e";
}

.ydicon-dui:before {
  content: "\e6cc";
}

.ydicon-yanse:before {
  content: "\e62d";
}

.ydicon-jishuzhichi:before {
  content: "\e692";
}

.ydicon-zhuanzhang:before {
  content: "\e774";
}

.ydicon-vip:before {
  content: "\e615";
}

.ydicon-chakan:before {
  content: "\e620";
}

.ydicon-shengcheng:before {
  content: "\e683";
}

.ydicon-zhixing:before {
  content: "\eb00";
}

.ydicon-beifen:before {
  content: "\e7bf";
}

.ydicon-menu17:before {
  content: "\e600";
}

.ydicon-daochu:before {
  content: "\e629";
}

.ydicon-shuxing:before {
  content: "\e627";
}

.ydicon-theme:before {
  content: "\e6d3";
}

.ydicon-jia-:before {
  content: "\e612";
}

.ydicon-icon_Refresh:before {
  content: "\e682";
}

.ydicon-changyongicon-:before {
  content: "\e611";
}

.ydicon-xiugaimima:before {
  content: "\e63e";
}

.ydicon-search:before {
  content: "\e6bc";
}

.ydicon-suo:before {
  content: "\e6a3";
}

.ydicon-jiesuo:before {
  content: "\e6a4";
}

.ydicon-qingchu:before {
  content: "\e613";
}

.ydicon-shenhebutongguo:before {
  content: "\e624";
}

.ydicon-shenhetongguo:before {
  content: "\e625";
}

.ydicon-sort:before {
  content: "\e681";
}

.ydicon-del:before {
  content: "\e651";
}

.ydicon-icon_establish:before {
  content: "\e680";
}

.ydicon-icon_about:before {
  content: "\e669";
}

.ydicon-icon_address:before {
  content: "\e66a";
}

.ydicon-icon_cancellation:before {
  content: "\e66b";
}

.ydicon-icon_cancel:before {
  content: "\e66d";
}

.ydicon-icon_classification:before {
  content: "\e66e";
}

.ydicon-icon_confirm:before {
  content: "\e66f";
}

.ydicon-icon_close-107:before {
  content: "\e670";
}

.ydicon-icon_database:before {
  content: "\e671";
}

.ydicon-icon_fillin:before {
  content: "\e672";
}

.ydicon-icon_information:before {
  content: "\e673";
}

.ydicon-icon_list:before {
  content: "\e674";
}

.ydicon-icon_more:before {
  content: "\e676";
}

.ydicon-defaultavatar:before {
  content: "\e677";
}

.ydicon-save:before {
  content: "\e678";
}

.ydicon-icon_picture:before {
  content: "\e679";
}

.ydicon-icon_play:before {
  content: "\e67a";
}

.ydicon-icon_folder:before {
  content: "\e67b";
}

.ydicon-setup:before {
  content: "\e67c";
}

.ydicon-icon_time:before {
  content: "\e67d";
}

.ydicon-icon_unknown:before {
  content: "\e67f";
}

.ydicon-home:before {
  content: "\e65b";
}

.ydicon-lang:before {
  content: "\e668";
}

.ydicon-support:before {
  content: "\e66c";
}

.ydicon-cache:before {
  content: "\e675";
}

.ydicon-chenggong:before {
  content: "\e604";
}

.ydicon-left:before {
  content: "\e634";
}

.ydicon-top:before {
  content: "\e635";
}

.ydicon-right:before {
  content: "\e638";
}

.ydicon-bottom:before {
  content: "\e639";
}

.ydicon-quyuguanli:before {
  content: "\e650";
}

.ydicon-menu8:before {
  content: "\e60e";
}

.ydicon-menu7:before {
  content: "\e62c";
}

.ydicon-menu13:before {
  content: "\e61e";
}

.ydicon-menu15:before {
  content: "\e637";
}

.ydicon-menu5:before {
  content: "\e7e6";
}

.ydicon-menu2:before {
  content: "\e603";
}

.ydicon-ziyuanguanli:before {
  content: "\e606";
}

.ydicon-menu1:before {
  content: "\e608";
}

.ydicon-menu3:before {
  content: "\e609";
}

.ydicon-menu14:before {
  content: "\e60a";
}

.ydicon-menu6:before {
  content: "\e60b";
}

.ydicon-menu4:before {
  content: "\e60c";
}

.ydicon-3-xitongfanganpeizhi:before {
  content: "\e60d";
}

.ydicon-menu16:before {
  content: "\e67e";
}
